# API Gateway
PORT=3000

# Microservices
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=3001
POST_SERVICE_HOST=localhost
POST_SERVICE_PORT=3002
FOLLOW_SERVICE_HOST=localhost
FOLLOW_SERVICE_PORT=3003
CHAT_SERVICE_HOST=localhost
CHAT_SERVICE_PORT=3004
CHAT_SERVICE_SOCKET_PORT=3005
NOTI_SERVICE_PORT=3006
MEDIA_SERVICE_HOST=localhost
MEDIA_SERVICE_PORT=3007

# Database
USER_MONGO_URI=mongodb://admin:changeme@localhost:27017/user_service
POST_MONGO_URI=mongodb://admin:changeme@localhost:27017/post_service
FOLLOW_MONGO_URI=mongodb://admin:changeme@localhost:27017/follow_service
CHAT_MONGO_URI=mongodb://admin:changeme@localhost:27017/chat_service
MEDIA_MONGO_URI=mongodb://admin:changeme@localhost:27017/media_service

# Message Broker
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_PORT}
KAFKA_BROKER=localhost:9092
KAFKA_CONSUMER_GROUP=social-media-group

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=changeme

# Security
JWT_SECRET=change_this_to_random_64_char_string
JWT_EXPIRES_IN=15m

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=social-media-uploads

# CloudFront
CLOUDFRONT_DOMAIN=https://xxxxxxxxxxxxxx.cloudfront.net
CLOUDFRONT_KEY_PAIR_ID=your_cloudfront_key_pair_id
CLOUDFRONT_PRIVATE_KEY=your_cloudfront_private_key_path.pem

# Snowflake ID Generator
SNOWFLAKE_WORKER_ID=1
SNOWFLAKE_DATACENTER_ID=1

# Docker Compose (สำหรับ docker-compose.yml)
MONGO_USERNAME=admin
MONGO_PASSWORD=changeme
ELASTIC_PASSWORD=changeme
RABBITMQ_USER=social_app
RABBITMQ_PASS=changeme
KAFKA_CLUSTER_ID=change_me_to_random_uuid # สร้างด้วย: docker run --rm confluentinc/cp-kafka:8.2.0 kafka-storage random-uuid
KAFKA_UI_USER=admin
KAFKA_UI_PASSWORD=changeme